@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-image: url("./imgs/back.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.login-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  width: 50% !important;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
.back-logado {
  background-color: rgba(255, 255, 255, 0.9);
}
.radios-5 {
  border-radius: 5px;
}
.wrap-divs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 3 colunas com tamanhos iguais */
  gap: 10px;
  /* Espaçamento entre as divs */
  width: 100%;
  /* Largura da div principal */
  margin: 0 auto;
  /* Centralizar a div principal */
  padding: 20px;
  /* Espaçamento interno da div principal */

  height: 60vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: inset 0 0 10px rgba(255,255, 255, 0.1);
  border-radius: 10px;
}
@media screen and (max-width: 720px) {
  .login-container {
    width: 90% !important;
  }
}
